<div class="row text-center">

	<div class="col-md-6 col-md-offset-3" ng-show="user">
		<h3>Categories</h3>
		<!-- Create a new category -->
		<form>
		  <div class="form-group">
		  	<div class="input-group">
			    <input type="text" class="form-control" id="newTaskInput" name='newTaskInput' placeholder="New category..." ng-model='newCategoryName' >
			  	<span class="input-group-btn">
			        <button class="btn btn-primary" type="button" ng-click="createCategory()" ng-show="newCategoryName != 'General'">Save</button>
			    </span>
		    </div>
		  </div>
		</form>

		<!-- List all the categories -->
		<ul class="list-group text-left" ng-model="newTaskName" ng-show="user">
			<li class="list-group-item">
				<h4>My Categories</h4>
			</li>
			<li class="list-group-item" ng-repeat="category in user.data.categories">
				<div class="row">
					<div class="col-md-8">
						{{category.name}}
					</div>
					<div class="col-md-4 text-right">
						<button type="button" class="btn btn-danger btn-xs" ng-click="removeCategory(category)" ng-show="category.name != 'General'">Remove</button>
					</div>
				</div>
			</li>
		</ul>
	</div>

</div>